use flake

export MCI_LOG_LEVEL="debug"
export MCI_S3_URL="http://localhost:8333"
export DATABASE_URL="postgres://postgres:postgres@localhost:5432/mci"
export MCI_DATABASE_URL="postgresql://postgres:postgres@localhost:5432/mci"
